<ion-view view-title="我的"  hide-nav-bar="true" class="me" on-swipe-right="onSwipeRight()">
  <ion-content>

    <div class="settings">
      <div class="settings-header">
        <div class="row">
          <div class="col col-10 col-offset-90">
            <i class="icon ion-ios-gear-outline" style="font-size:18px;color:#fff;cursor: pointer" ng-click="show_settings()"></i>
          </div>
        </div>
        <div class="row">
          <div class="col col-25 xiaomi">
            <img src="{{env.ent_img_path}}/xiaomi.png" />
          </div>
          <div class="col col-45 fuli">
            <h5>{{ currentUser.user_name }} </h5>
            <p>免费认证 享VIP福利</p>
            <a    ng-click="logout()">
              <i class="icon ion-power"></i>退出
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          </div>
          <div class="col col-25 col-offset-5 data">
            <a href="#">
              <span>个人资料</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>

          </div>
        </div>
      </div>

      <div class="settings-content">
        <div class="row record-num">
          <div class="col col-33" ng-click="show_zwgl()">
            <div class="right-line">
              <p class="num">0<sup><i class="icon ion-record"></i></sup></p>
              <p class="con">职位管理</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="right-line">
              <p class="num">0<sup><i class="icon ion-record"></i></sup></p>
              <p class="con">沟通过</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="right-line">
              <p class="num">0<sup><i class="icon ion-record"></i></sup></p>
              <p class="con">待面试</p>
            </div>
          </div>
        </div>
      </div>

      <div class="blank-line"></div>

      <div class="small-boss">
        <div class="row small-content">
          <div class="col col-25">
              <p class="num">
                <i class="icon ion-ios-monitor-outline"></i>
                <sup><i class="icon ion-record"></i></sup>
              </p>
              <p class="con">公告</p>
          </div>
          <div class="col col-25">
            <p class="num">
              <i class="icon ion-ios-monitor-outline"></i>
              <sup><i class="icon ion-record"></i></sup>
            </p>
            <p class="con">认证boss</p>
          </div>
          <div class="col col-25">
            <p class="num">
              <i class="icon ion-ios-monitor-outline"></i>
              <sup><i class="icon ion-record"></i></sup>
            </p>
            <p class="con">装修公司</p>
          </div>
          <div class="col col-25">
            <p class="num">
              <i class="icon ion-ios-monitor-outline"></i>
              <!-- <sup><i class="icon ion-record"></i></sup> -->
            </p>
            <p class="con">登录网页版</p>
          </div>
        </div>
        <div class="row small-content">
          <div class="col col-25">
            <p class="num">
              <i class="icon ion-ios-monitor-outline"></i>
              <sup><i class="icon ion-record"></i></sup>
            </p>
            <p class="con">我的道具</p>
          </div>
          <div class="col col-25">
            <p class="num">
              <i class="icon ion-ios-monitor-outline"></i>
              <sup><i class="icon ion-record"></i></sup>
            </p>
            <p class="con">道具商城</p>
          </div>
          <div class="col col-25">
            <p class="num">
              <i class="icon ion-ios-monitor-outline"></i>
              <!-- <sup><i class="icon ion-record"></i></sup> -->
            </p>
            <p class="con">收藏过</p>
          </div>
          <div class="col col-25">
            <p class="num">
              <i class="icon ion-ios-monitor-outline"></i>
              <!-- <sup><i class="icon ion-record"></i></sup> -->
            </p>
            <p class="con">赚积分</p>
          </div>
        </div>
      </div>

      <div class="blank-line"></div>

      <div class="list list-banner">
        <a href="#" class="item item-icon-left item-icon-right">
          <i class="icon ion-social-octocat"></i>
          <div class="details">
            小秘书
            <i class="icon ion-record"><span>3</span></i>
          </div>

          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a href="#" class="item item-icon-left item-icon-right">
          <i class="icon ion-podium"></i>
          <div class="details">
            积分:<span class="point"> 0分</span>
          </div>

          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a href="#" class="item item-icon-left item-icon-right">
          <i class="icon ion-social-yen-outline"></i>
          <div class="details">
            钱包:<span class="point"> 余额 ￥0.00 直豆 0</span>
          </div>

          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a href="#" class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-barcode-outline"></i>
          <div class="details">
            优惠券:<span class="point"> 0张</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>

        </a>
      </div>
    </div>


    <script id="settings.html" type="text/ng-template">
      <ion-modal-view>
        <ion-content>
          <div class="settings_head">
            <i class="icon ion-ios-arrow-left" ng-click="hide_settings()"></i>
            <span>设置</span>
          </div>

          <!--共用expert发布职位的样式-->
          <div class="settings_content publish_content">
            <div class="blank-line"></div>

            <div class="list list-defined">

              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  提醒设置
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  视频通话
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>

              <div class="blank-line"></div>

              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  屏蔽公司
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>

              <div class="blank-line"></div>

              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  修改手机号
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  设置密码
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>

              <div class="blank-line"></div>

              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  版本更新
                </span>
                <span class="item-details">当前5.30</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  帮助与反馈
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  关于我们
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>

              <div class="blank-line"></div>

              <a href="#" class="item item-icon-right">
                <span class="item-info">
                  切换身份
                </span>
                <span class="item-details">Boss版</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>

              <div class="blank-line"></div>

              <a href="#" class="item" style="text-align: center;">
                <span class="item-info" style="color:red;">
                  退出登录
                </span>
              </a>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="zwgl.html" type="text/ng-template">
      <ion-modal-view>
        <ion-content>
          <div class="fabu-bar bar">
            <i class="icon ion-ios-close-empty" style="z-index: 100" ng-click="closezwgl()"></i>
            <span class="title">职位管理</span>
            <i class="icon ion-ios-checkmark-empty" style="font-size: 40px;" ng-click=""></i>
          </div>
          <ion-list>
            <ion-item>fdds</ion-item>
          </ion-list>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
