<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- tab-expert -->
  <ion-tab title="牛人" icon-off="ion-social-dropbox-outline" icon-on="ion-social-dropbox" href="#/tab/expert">
    <ion-nav-view name="tab-expert"></ion-nav-view>
  </ion-tab>

  <!-- tab-chats -->
  <ion-tab title="消息" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


  <!-- tab-me -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>

</ion-tabs>
