.bar_defined {
  background-color: #52cac1;
}

.bar .title {
  font-size: 15px;
  color: #ffffff;
}
/*---------牛人------------*/

.expert {
  background-color: #e9eef1;
}

.wrapper{
  margin:90px auto 0;
  text-align: center;
}

.expert_pic {
  position: relative;
  min-width:306px;
  display: inline-block;
}
.expert_pic img:nth-child(1) {
  display: inline-block;
  width: 168px;
}
.expert_pic img:nth-child(2) {
  display: block;
  position: absolute;
  width: 40px;
  border-radius: 50%;
  border:1px solid #dadedd;
  bottom: 8px;
  left: 20px;
}
.expert_pic img:nth-child(3) {
  display: block;
  position: absolute;
  width: 40px;
  bottom: 8px;
  right: 20px;
  border-radius: 50%;
  border:1px solid #dadedd;

}

.wrapper .tips {
  font-size: 14px;
  color: #707578;
  padding: 35px 0 10px;
  line-height: 16px;
}

.wrapper .button-defined {
  background-color: #52cac1;
  font-size: 16px;
  min-width: 175px;
  color: #ffffff;
  min-height: 30px;
  line-height: 30px;
}
/*----------牛人------------*/

/*--------发布职位----------*/
.publish_head {
  background-color: #52cac1;
  height: 50px;
}

.publish_head .row .icon {
  font-size: 24px;
  color: #ffffff;
  padding: 0 10px;
  line-height: 36px;
  position: relative;
  top: -5px;
  cursor: pointer;
}

.publish_head .row .col h5.title {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  position: relative;
  top: -5px;
}

.publish_head .row .col-10 h6 {
  color: #fff;
  position: relative;
  top: -3px;
  word-wrap: break-word;
}

.publish_pc {
  background-color: #fef1ba;
  height: 46px;
}
.publish_pc p {
  text-align: center;
  color: #ceb26e;
  line-height: 40px;
}
.publish_pc p i {
  font-size: 20px;
  position: relative;
  top: 3px;
  left: 2px;
}

.publish_content {
  background-color: #e7eff0;
}
.blank-line {
  height: 10px;
}
.publish_content .list-defined .item {
  height: 43px;
}
.publish_content .list-defined .item span {
  color: #454545;
  position: relative;
  top:-6px;
  font-size:14px;
}
.publish_content .list-defined .item .icon {
  font-size:18px;
  color:#52cac1;
  right: 0;
  z-index: 10;
}
.publish_content .publish_warning {
  font-size: 12px;
  color: #adb2b5;
  text-align: center;
  padding: 0 10px;
}
.publish_content .publish_warning .icon {
  font-size: 18px;
}
.publish_content .list-defined>.item>span.item-details {
  position: absolute;
  right: 24px;
  top:10px;
  width: auto !important;
}
.fabu-box {
  text-align: center;
}
button.fabu {
  background-color: #52cac1;
  width:90%;
  color: #fff;
  display:inline-block;
  min-height: 40px !important;
  line-height: 5px !important;
  font-size: 14px;
  margin-top:10px;
}
/*浮动框*/
.myPopover {
  width: 290px;
  height: 185px;
  border-radius: 6px;
  left:50%  !important;
  top:175px  !important;
  margin-left:-145px  !important;
}

.popover-backdrop.active {
  background-color: rgba(0, 0, 0, .3);
}
.pop-tips {
  padding-top: 15px;
  text-align: center;
}
.pop-tips h5{
  color: #666;
}
.pop-tips p{
  color: #999;
}
.pop-tips .circle {
  border-radius: 50%;
  border: 3px solid #efba8c;
  font-size: 40px;
  color: #efba8c;
  width: 55px;
  height: 55px;
  display: inline-block;
  position: relative;
}
.pop-tips .circle span {
  position: absolute;
  top: 11px;
  left: 19px;
}
.pop-tips button {
  padding:0 30px;
}
.pop-tips button.button1+button.button2 {
  margin-left:5px;
}
.pop-tips button.button1 {
  background-color: #d0d0d0;
}
.pop-tips button.button2 {
  background-color: #adddf3;
}
/*---在电脑上发布职位---*/
.bar{
  background-color: #5ED2CB !important;
  border: none !important;
}
.fabu-bar > .icon {
  font-size: 24px;
  color: #fff;
}
.fabu-bar > .icon:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.fabu-bar > .icon:nth-child(3) {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 30px;
}
.fabupc {
  text-align: center;
  margin-top:40px;
}
.fabupc > img {
  display:inline-block;
  width: 178px;
}
.fabupc >p {
  margin-top:30px;
  color: #888;
  font-size:13px;
}
.fabu-footer {
  margin-top:420px;
  text-align: center;
}
.fabu-footer > p  {
  font-size:12px;
  color: #777;
}
.fabu-footer > p > .icon {
  font-size: 14px;
}

/*----公司信息----*/
.compInfo {
  background-color: #e7eff0;
}
.compInfo >p {
  text-align: center;
  color: #ceb26e;
  line-height: 40px;
  background-color: #fef1ba;
}
.compInfo > .list-defined > .item {
  height: 42px;
  position: relative;
}
.compInfo > .list-defined > .item>.item-info {
  font-size:13px;
  position: relative;
  top:-7px;
  color: #444;
}
.compInfo > .list-defined > .item>span:nth-child(2) {
  font-size:13px;
  color: #777;
  position: absolute;
  top: 9px;
  right: 10px;
}

/*-----职位类型-----*/
.jobType .input-box {
  text-align: center;
  height: 37px;

}
.jobType .input-box>label>.icon:nth-child(1) {
  position: absolute;
  top:2px;
  left: 7px;
}
.jobType .input-box>label>span {
  position: absolute;
  top:4px;
  right: 10px;
  font-size: 18px;
  width:16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  background-color: #777;
}
.jobType .input-box>label>span>.icon {
  color: #fff;
  position: relative;
  top:-4.9px;
}
.jobType label {
  position: relative;
  top:5px;
}
.jobType  #searchType {
  background-color: #dcdcdc;
  display: inline-block !important;
  width: 95%;
  height: 26px;
  border-radius: 5px;
  text-align: left;
  text-indent: 24px;
  color: #333333;
  font-size: 13px;;
}

/*------职位名称-----*/
.jobName {
  position: relative;
  text-align: center;
  top:44px;
}
.jobName p:nth-child(2) {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #5ED2CB;
}
.jobName  .warning{
  color: #777;
  padding:8px 10px;
  font-size:13px;
  text-align: left;
}
.jobName  input{
  width: 98%;
  display:inline-block;
  text-indent: 10px;
  color: #777;
}

/*------薪资范围--------*/
.salaryRange{
  width:100% !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  height: 200px;
  margin: 0 !important;
  padding: 0 !important;
  top:auto !important;
}

.salary-bar {
  background-color: #fff !important;
  height: 40px !important;
  text-align: center;
  border-bottom:1px solid #d0d0d0 !important;
}
.salary-bar>.icon{
  color: #5ED2CB ;
  font-size: 30px;
}
.salary-bar>.title{
  color: #333;
  font-size:14px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  left: 0 !important;
  right: 0 !important;
  position: absolute;
}
.salary-bar .icon:nth-child(1) {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 1;
}
.salary-bar > .icon:nth-child(3) {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 30px;
}

.salary-left-items>.list{
  text-align: center;
  padding-top: 62px;
  padding-bottom: 92px;
}
.salary-right-items>.list{
  text-align: center;
  padding-top: 62px;
  padding-bottom: 92px;
}
.salary-right-items>.list{
  text-align: center;
}
.salary-left-items > .list .item:nth-child(odd) {
  background-color: yellow;
}
.salary-right-items > .list .item:nth-child(odd) {
  background-color: orange;
}
.salary-left-items > .list > .item {
  height: 35px;
  border: none !important;
  padding: 0;
  margin: 0;
  border-image-width: unset !important;
}
.salary-right-items > .list > .item {
  height: 35px;
  border: none !important;
  padding: 0;
  margin: 0;
  border-image-width: unset !important;
}
.salary-left-items>.list>.item>span{
  position: relative;
  top: 4px;
}
.salary-right-items>.list>.item{
  height: 35px;
  border:none;
}
.salary-right-items>.list>.item>span{
  position: relative;
  top:4px;
}
.line1 {
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.line2{
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
  position: absolute;
  z-index: 10;
  top:calc(50% + 35px);
}
/*------经验要求-------*/
.expRequire {
  width:100% !important;
  position: absolute;
  left: 0 !important;
  bottom: 0 !important;
  height: 200px;
  margin: 0 !important;
  padding: 0 !important;
  top:auto !important;
}
.blank-select {
  position: absolute;
  top: 100px;
  height: 35px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  z-index: 100;
  width: 100%;
  left: 0;
}
.exp-items>.list{
  text-align: center;
  padding-top:62px;
  padding-bottom: 92px;
}
.exp-items>.list>.item{
  height: 35px;
  border: none !important;
  padding: 0;
  margin: 0;
  border-image-width: unset !important;
}
.exp-items > .list .item:nth-child(odd) {
  background-color: yellow;
}
.exp-items>.list>.item>span{
  position: relative;
  top:4px;
}
/*工作城市*/
.item-workCity{
  z-index: 10;
}
/*----工作地点-----*/

/*----职位描述-----*/
.jobDes textarea{
  width: 100% !important;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 5px;
  color: #333;
}

/*--------发布职位----------*/

/*----------消息-----------*/
.msg {
  background-color: #e9eef1;
}

.row-color {
  background-color: #52cac1;
}

.row-color .col-70 a {
  padding:0 15px;
  text-decoration: none;
  color: #c2eae7;
  font-size: 13px;
}

.row-color .col-70 a.active {
  color: #ffffff;
  font-size: 14px;
}

.row-color .col-10 .icon {
  font-size: 18px;
  color: #ffffff;
}

.row-color .line-def i {
  padding-right: 40%;
  border-right: 1px solid #82d7d2;
}

.wrapper .circle {
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  width: 100px;
  height: 100px;
  display:inline-block;
  padding-top: 25px;
}

.wrapper .circle img {
  display:inline-block;
  width: 50px;
}

.wrapper .button-chats {
  height: 40px;
  line-height:40px;
  background-color: #52cac1;
  font-size: 16px;
  min-width: 130px;
  color: #ffffff;
}
/*----------消息-----------*/

/*----------我的-----------*/
.settings {}

.settings .settings-header {
  background-color: #52cac1;
  padding-bottom: 20px;
}
.settings .settings-header .row .xiaomi {
  padding-left: 20px;
}
.settings .settings-header .row .xiaomi img {
  display: block;
  width: 64px;
  border-radius: 50%;
  border:3px solid #74d8c7;
}
.settings .settings-header .row .fuli h5,p{
  color: #f1f1f1;
  line-height: 13px;
}
.settings .settings-header .row .fuli p {
  font-size:11px;
}
.settings .settings-header .row .data {
  padding-top:20px;
}
.settings .settings-header .row .data a {
  font-size: 14px;
  color: #f1f1f1;
  text-decoration: none;
}

.settings .settings-content .record-num {
  text-align: center;
}
.settings .settings-content .record-num .col {
  border-bottom: 1px solid #f1f1f1;
  padding: 12px 0 2px;
}
.settings .settings-content .record-num .col .right-line {
  border-right:1px solid #f6f6f6;
}
.settings .settings-content .record-num .col:nth-of-type(3) .right-line {
  border-right:none
}
.settings .settings-content .record-num .num {
  font-size: 20px;
  color: #333;
  font-weight: 500;
}
.settings .settings-content .record-num .num>sup {
  position: relative;
}
.settings .settings-content .record-num .num>sup>i {
  font-size: 7px;
  color: #f02c1b;
  position: absolute;
  top: 5px;
  right: -12px;
}
.settings .settings-content .record-num .con {
  font-size: 13px;
  color: #989898;
}

.settings .small-boss {
  border: 1px solid #ededed;
}
.settings .small-boss .small-content {
  text-align: center;
  margin: 0;
  padding: 0;
}
.settings .small-boss .small-content .col {
  border-right:1px solid #ededed;
  border-bottom:1px solid #ededed;
  margin:0;
  padding: 15px 0;
}
.settings .small-boss .small-content .num {
  font-size: 20px;
  color: #333;
  font-weight: 500;
}
.settings .small-boss .small-content .num>sup {
  position: relative;
}
.settings .small-boss .small-content .num>sup>i {
  font-size: 7px;
  color: #f02c1b;
  position: absolute;
  top: 5px;
  right: -12px;
}
.settings .small-boss .small-content .con {
  font-size: 13px;
  color: #333;
}


.settings .list-banner a.item .details{
  font-size: 16px;
  color: #333;
}
.settings .list-banner a.item .details >i.ion-record {
  font-size: 16px;
  color: #f02c1b;
  position: absolute;
  top: 1px;
  left: 99px;
}
.settings .list-banner a.item .details >i.ion-record >span{
  font-size: 10px;
  position: absolute;
  top: 15px;
  left: 13px;
  color: #fff;
}
.settings .list-banner a.item .details .point {
  font-size: 13px;
  color: #989898;
}
.settings .list-banner a.item .icon {
  font-size: 22px;
}
/*----------我的-----------*/
/*-------settings.html-----*/
.settings_head {
  height: 44px;
  background-color: #52cac1;
  line-height:44px;
  color: #fff;
  text-align: center;
  position: relative;
}
.settings_head > .icon {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 15px;
}

/*-------settings.html-----*/
.fade-in-out.ng-enter, .fade-in-out.ng-enter {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation:fadeIn 0.3s;
  position: absolute;
}
.fade-in-out.ng-leave, .fade-in-out.ng-leave {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation:fadeOut 0.3s;
  position: absolute;
}
