<ion-view view-title="职业详情" hide-tabs="true">
	<ion-content class="job-detail">
		<div class="job-item">
			<div class="row">
				<div class="col jobname">Web前端</div>
				<div class="col salary">8K-12k</div>
			</div>
			<div class="row company-name">
				<div class="col-40">广州外宝电子商务</div>
				<div class="col-60">未融资</div>
			</div>
			<div class="row">
				<div class="job-info">
					<i class="ion-location"></i>广州天河区沙河&nbsp;<i class="ion-briefcase"></i>1-3年&nbsp;<i class="ion-university"></i>大专
				</div>
			</div>
		</div>
		<div class="detail">
			<div class="row">职位详情</div>
			<div class="dec">
				<p>岗位职责：</p>
				1、负责网站后端代码编写，独立完成项目
				2、项目完成后做初测，后续转接测试工程师
				3、负责js代码编写并于前端工程师沟通配合
				4、负责日常维护、改版负责日常维护、改版
				5、负责网站后端代码编写，独立完成项目
				6、项目完成后做初测，后续转接测试工程师
				7、负责js代码编写并于前端工程师沟通配合
				8、负责网站后端代码编写，独立完成项目
				9、负责网站后端代码编写，独立完成项目
			</div>
			<div class="row">
				<div class="col">
					<a href=""><i class="ion-chevron-down"></i></a>
				</div>
			</div>
		</div>
		<div class="job-require">
			<div class="row">技能要求</div>
			<div class="row"><span>PHP</span><span>ERP</span><span>后端开发</span></div>
		</div>
		<div class="job-publisher">
			<div class="row">
				<div class="col">发布人</div>
				<div class="col more">Ta发布的更多职位<i class="ion-chevron-right"></i></div>
			</div>
			<div class="row">
				<div class="col">
					<div class="image">
						<img src="">
					</div>
				</div>
				<div class="col-80">
					<div class="row">
						<div class="col-70">爱迪生<span></span>人力资源管理</div>
						<div class="col">刚刚活跃</div>
					</div>
					<div class="row">两天前发布</div>
				</div>
			</div>
		</div>
		<div class="button bt-chat">
			立即沟通
		</div>
	</ion-content>
	
</ion-view>