
<ion-view view-title="源酷就业" hide-nav-bar="true"  >
  <ion-content class="index_box" on-swipe-left="down_page()">
 

    <header>
      <div class="row index_header">
        <div class="col col-75">
          <a href="">HTML5</a>
          <a href="">php</a>
        </div>
        <div class="col"> <i  class="icon ion-plus-round"></i> <i ng-click="show_search()" class="icon ion-ios-search"></i>
        </div>
      </div>
      <div class="row index_search" ng-click="openPopover($event)">
        <div class="col">
          <a href="">
            推荐
            <i class="icon ion-chevron-down"></i>
          </a>
        </div>
        <div class="col">
          <a href="">
            广州
            <i class="icon ion-chevron-down"></i>
          </a>
        </div>
        <div class="col">
          <a href="">
            要求
            <i class="icon ion-chevron-down"></i>
          </a>
        </div>
        <div class="col">
          <a href="">
            公司
            <i class="icon ion-chevron-down"></i>
          </a>
        </div>
      </div> 
    </header>
    <ion-list class="content_list"    >
      <ion-item    >
        <div class="row">
          <div class="col col-75 job_name">HTML5前端工程师</div>
          <div class="col job_money">8k-19k</div>
        </div>
        <div class="row">中杰科技 未融资</div>
        <div class="row job_detailed">
          <span>
            <i class="icon ion-location"></i>
            广州
          </span>
          <span>
            <i class="icon ion-briefcase"></i>
            3-5年
          </span>
          <span>
            <i class="icon ion-university"></i>
            不限
          </span>
        </div>
        <div class="row job_boss">   lily 产品总监</div>
      </ion-item>
      <ion-item >
        <div class="row">
          <div class="col col-75 job_name">PHP前端工程师</div>
          <div class="col job_money">8k-19k</div>
        </div>
        <div class="row">中杰科技 未融资</div>
        <div class="row job_detailed">
          <span>
            <i class="icon ion-location"></i>
            广州
          </span>
          <span>
            <i class="icon ion-briefcase"></i>
            3-5年
          </span>
          <span>
            <i class="icon ion-university"></i>
            不限
          </span>
        </div>
        <div class="row job_boss">lily 产品总监</div>
      </ion-item>
      <ion-item >
        <div class="row">
          <div class="col col-75 job_name">HT前端工程师</div>
          <div class="col job_money">8k-19k</div>
        </div>
        <div class="row">中杰科技 未融资</div>
        <div class="row job_detailed">
          <span>
            <i class="icon ion-location"></i>
            广州
          </span>
          <span>
            <i class="icon ion-briefcase"></i>
            3-5年
          </span>
          <span>
            <i class="icon ion-university"></i>
            不限
          </span>
        </div>
        <div class="row job_boss">lily 产品总监</div>
      </ion-item>
    </ion-list>


     <!-- 模态框 -->
    <script id="templates/index_search.html" type="text/ng-template">
      <ion-modal-view  >
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">职位搜索</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <input ng-model="newUser.id" placeholder="请输入关键词" type="text"></label>
           
            <button class="button button-full button-positive" ng-click="createContact(newUser)">搜索</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <!-- 搜索浮动 -->
  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view class="index_propover">
    
    <ion-content>
       
    </ion-content>
  </ion-popover-view>
  </script> 

  </ion-content>

</ion-view>