<ion-view view-title="消息" hide-nav-bar="true" class="msg" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
  <ion-content>

    <div class="row row-color">
      <div class="col col-70">
        <a href="#" class="active">聊天</a>
        <a href="#">看过我</a>
        <a href="#">新牛人</a>
      </div>
      <div class="col col-10 col-offset-10 line-def">
        <i class="icon ion-ios-settings"></i>
      </div>
      <div class="col col-10">
        <i class="icon ion-ios-monitor-outline"></i>
      </div>
    </div>

    <div class="wrapper" style="margin-top:130px;">
      <div class="circle">
        <img src="../img/enterprise/wanted.png" />
      </div>
      <p class="tips">发布职位才会有牛人联系你哦，快去发布职位吧！</p>
      <button class="button button-chats">
        发职位
      </button>
    </div>
    <!--<ion-list>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
        <!--<img ng-src="{{chat.face}}">-->
        <!--<h2>{{chat.name}}</h2>-->
        <!--<p>{{chat.lastText}}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      <!--</ion-item>-->
    <!--</ion-list>-->

  </ion-content>
</ion-view>
